<h2>Book a haircut</h2>

<p>On this page you can book a haircut.</p>

<form action="/visit" method="post">
    <div class="mb-3">
        <label class="form-label">Your name</label>
        <input name="user_name" value="<%= @user_name %>" type="text" class="form-control" placeholder="Enter your name">
    </div>

    <div class="mb-3">
        <label class="form-label">Your phone</label>
        <input name="user_phone" value="<%= @user_phone %>" type="text" class="form-control" placeholder="Enter your phone number">
    </div>

    <div class="mb-3">
        <label class="form-label">When are you coming for a haircut?</label>
        <input name="date_stamp" value="<%= @date_stamp %>" type="text" class="form-control" placeholder="Indicate the time and date when you will come for a haircut">
    </div>

    <div class="form-group">
        <label for="barber">Choose the barber you want to book a haircut with.</label>
        <select name="barber" value="none" class="form-control" id="exampleFormControlSelect1">
            <option value="Harry Potter" <%= @barber == 'Harry Potter'  ? 'selected' : '' %>>Harry Potter</option>
            <option value="Michael J" <%= @barber == 'Michael J'  ? 'selected' : '' %>>Michael J</option>
            <option value="Anna Smiht" <%= @barber == 'Anna Smiht'  ? 'selected' : '' %>>Anna Smiht</option>
            <option value="Jason Statham" <%= @barber == 'Jason Statham'  ? 'selected' : '' %>>Jason Statham</option>
            <option value="Magister Yoda" <%= @barber == 'Magister Yoda'  ? 'selected' : '' %>>Magister Yoda</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">What color do you want to dye your hair?</label>
        <select id="color" name="color">
            <option value="#7bd148">Green</option>
            <option value="#5484ed">Bold blue</option>
            <option value="#a4bdfc">Blue</option>
            <option value="#46d6db">Turquoise</option>
            <option value="#7ae7bf">Light green</option>
            <option value="#51b749">Bold green</option>
            <option value="#fbd75b">Yellow</option>
            <option value="#ffb878">Orange</option>
            <option value="#ff887c">Red</option>
            <option value="#dc2127">Bold red</option>
            <option value="#dbadff">Purple</option>
            <option value="#e1e1e1">Gray</option>
        </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

<script type="text/javascript">
    $(function () {
        $('#color').simplecolorpicker();
    });
</script>
